
<!-- ordered list looping through the categories from the API to display on screen -->
  <div id="categoryDiv">
    <H1>Jeopardy H A R D Mode</H1>
    <ol>
      <li *ngFor="let category of categoryInfo">{{category.title}}<button (click)="getCategoryQuestion(category.id)">Select This Category</button></li>
    </ol>

    <!-- displaying the output from the API, the div hides the boxes below -->
    <div *ngIf="cluesInfo">
      <br>
      <p> CATEGORY: {{cluesInfo?.category?.title}}</p>
      <p> QUESTION VALUE: {{cluesInfo?.value}}</p>
      <p> QUESTION: {{cluesInfo?.question}}</p>
      <br>
    </div>
  </div>
      <!-- selector from child component, opening up link between child/parent allowing data to be passed -->
      <app-answer-field (refreshCategories)="getDataFromService($event)" (clearQuestion)="clearQuestion($event)" [cluesInfo]="cluesInfo"></app-answer-field>

